<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Receipt</title>
    <style>
        hr.rule1{
            border: 0;
            height: 3px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        th {
            color: rgb(0, 0, 150);
        }
        b {
            color: rgb(0, 9, 128);
        }
        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <img src="{{logoimage}}">
    <hr class="rule1"> 
    <p style="text-align:center">{{faddress}}</p>
    <p style="text-align:center">{{fcdetails}}</p>
    <hr>
    <h3 style="text-align:center"><u>Debit Note</u></h3>
    <hr class="rule1">
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <td><b>Client</b></td>
                        <td><b>:&nbsp;</b></td>
                        <td>{{clientname}}</td>
                    </tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td><b>:</b></td>
                        <td>{{address}}</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table>
                        <tr>
                            <td><b>Receipt No.</b></td>
                            <td><b>:&nbsp;</b></td>
                            <td>{{rno}}</td>
                        </tr>
                        <tr>
                            <td><b>Invoice Date</b></td>
                            <td><b>:</b></td>
                            <td>{{date}}</td>
                        </tr>
                    </table>
            </div>
        </div>
        <table class="table table-bordered table">
            <tr>
                <th colspan="3">
                    Particulars
                </th>
                <th colspan="2">
                    Invoice No.
                </th>
                <th colspan="2">
                    Amount
                </th>
                <th colspan="2">
                    Total
                </th>
            </tr>
            {{insertions}}
            <tr>
                <td colspan="5">
                    <b>Rs. In words: </b>{{amtwords}}
                </td>
                <td colspan="2" style="text-align: right;"><b>Total:</b></td>
                <td colspan="2" style="text-align: right;">{{amtfig}}</td>
            </tr>
        </table>
        <div class="row">
            <div class="col">
                <b>Narration</b><br>
                {{details}}
            </div>
            <div class="col" align="right">
                <b>Authorised Signature</b><br>
                <img src="{{signature}}">
            </div>
        </div>
    </div>
</body>
</html>



