<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Payment Receipt</title>
</head>
<body class="container-fluid" style="width : 560px;">
    <div class="row" style="width: 560px;">
        <div class="col">
            <img src="{{logoimage}}" style="height:150px; max-width:240px; margin-top: 20px; margin-left: 20px;">
        </div>
        <div class="col" style="text-align: right; font-size:12px; margin-top: 20px;">
            <p><h6>{{firmName}},</h6><br> 
                {{Address}}<br>
                {{phone}}<br>
                {{email}}
            </p>
        </div>
    </div>
    <div style="position: relative; left: 250px; padding: 20px; background: rgb(128, 128, 204)"><h5>Payment Receipt</h5></div>
    <span style="text-align: left; font-size: 8px">{{rno}}</span><br>
    <span style="text-align: right; font-size: 8px">{{date}}</span><br>
    <div class="text-center" style="width: 500px; text-align:justify;">RECEIVED with thanks from M/S. {{cname}} {{caddress}} under GST No. {{cgstin}} the sum of ₹ {{amountw}} {{receiptText}}
    {{tbody}}
    </div>
    <div class='row' style="width: 560px;">
        <div class='col' style ='font-size: 8px'>
            <b>Note/Remark:</b><br>
            {{tnc}}
        </div>
        <div class='col' style='text-align: right; font-size: 12px'>
            Signature:</b><br>
            <img src="{{sign}}" style="height: 60px; width:60px;"><br>
            Authorised Signatory: {{username}}
        </div>
    </div>
    <hr>
    <span style="font-size: 6px;">This is a computer generated document generated hence no physical signature is required.</span> 
</body>
</html>