<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Invoice</title>
    <style>
        .unbold{
            font-weight: normal;
        }
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            border-top: 1px solid black;
        }
    </style>
</head>
<body class="container-fluid" style="width : 560px; border: 1px black solid">
    <div class="row" style="width: 560px;">
        <div class="col">
            <img src="{{logoimage}}" style="height:150px; max-width:240px; margin-top: 20px; margin-left: 20px;">
        </div>
        <div class="col" style="text-align: right; font-size:12px; margin-top: 20px;">
            <p><h6>{{firmName}},</h6>
                {{Address}}<br>
                {{phone}}<br>
                {{email}}
            </p>
        </div>
    </div>
    <div style="color: white; position: relative; left: 240px; width: 95px; padding: 10px; margin-bottom: 10px; background: rgb(35, 35, 223); border-radius: 20px;"><h5>&nbsp;Invoice</h5></div>
    <table style="font-size:10px; width: 560px; margin-bottom: 5px; padding-bottom: 5px;">
        <tr>
            <th colspan="3">
                <div class='row'>
                    <div class='col' style="text-align: left;">
                        To the Client<br>
                        <span class='unbold'>Name  : </span>{{cname}}<br>
                        <span class='unbold'>State : </span> {{caddress}}
                    </div>
                    <div class='col' style="text-align: left;">
                        <br>
                        <span class='unbold'>GSTIN :</span> {{cgstin}}
                    </div>
                </div>
            </th>
            <th colspan="5" style="text-align: left;">
                <span class='unbold'>IN No    :</span>{{rno}}<br>
                <span class='unbold'>Inv Date :</span> {{date}}<br>
                <span class='unbold'>GSTIN    :</span> {{gstin}}<br>
                <span class='unbold'>SAC      :</span> {{sac}} 
            </th>
        </tr>
        <tr>
            <th colspan="8">
                <div class="row">
                    <div class="col" style="text-align: left;">
                        <span class='unbold'>Media House Name :</span> {{mediahouse}}<br>
                        <span class='unbold'>Pullout Name     :</span> {{pullout}}
                    </div>
                    <div class="col-auto" style="text-align: left;">
                        <span class='unbold'>Ad Type :</span> {{adtype}}<br>
                        <span class='unbold'>Edition :</span> {{edition}}
                    </div>
                    <div class="col-auto" style="text-align: left;">
                        <span class='unbold'>`Scheme :</span> {{scheme}}<br>
                        <span class='unbold'>`Hue    :</span> {{hue}}
                    </div>
                </div>
            </th>
        </tr>
    </table>
    <table style="font-size:10px; width: 560px; margin-bottom: 5px; padding-bottom: 5px;">
        <tr>
            <th colspan='4'>Description</th> <!--no caption - categories - Premium-->
            <th colspan='2'>Ins Date</th>
            <th colspan='2'>Position</th>
            <th colspan='2'>Size</th>
            <th colspan='2'>Amount</th>
        </tr>
        {{insertions}}
        <tr>
            <td colspan="5" rowspan="3">Remark: {{remark}}</td>
            <td colspan="5" style="text-align: right">Publication Discount {{pubD}}</td>
            <td colspan="2"><b>{{pubam}}</b></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right">Other Charges{{Other}}</td>
            <td colspan="2"><b>{{otherCharges}}</b></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right">Agency Discount {{agenD}}</td>
            <td colspan="2"><b>{{agenam}}</b></td>
        </tr>`
        <tr>`
            <td colspan="2" rowspan="2">Taxable Amount: <b>{{taxamount}}</b></td>
            <td colspan="2">IGST %: <b>{{igst}}</b></td>
            <td colspan="2">CGST %: <b>{{cgst}}</b></td>
            <td colspan="2">SGST %: <b>{{sgst}}</b></td>
            <td colspan="2">GST Amount</td>
            <td colspan="2"><b>{{gstamount}}</b></td>
        </tr>
        <tr>
            <td colspan="2">Amt: <b>{{igstamount}}</b></td>
            <td colspan="2">Amt: <b>{{cgstamount}}</b></td>
            <td colspan="2">Amt: <b>{{sgstamount}}</b></td>
            <td colspan="2">Net Amount</td>
            <td colspan="2"><b>{{namount}}</b></td>
        </tr>
        <tr>
            <td colspan="12">Amount(in words): <b>{{namountwords}}</b></td>
        </tr>
    </table>
    <div class='row' style="width: 560px;">
        <div class='col' style ='font-size: 8px'>
            <b>Note/Remark:</b><br>
            {{tnc}}
        </div>
        <div class='col-auto' style='font-size: 8px'>
            <b><br>Signature:</b><br>
            <img src="{{sign}}" style="height: 60px; width:60px;"><br>
            Authorised Signatory: {{username}}
        </div>
    </div>
    <hr>
    <span style="font-size: 6px;">This is a computer generated document hence no physical signature is required.</span> 
</div>
</body>
</html>
