<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Release Order</title>
</head>
<body class="container-fluid">
    <div style="width: 210mm">
        <div class="row">
            <div class="col">
                <img src="{{logoimage}}" style="height: 40px; width:40px;">
            </div>
            <div class="col" style="text-align: right; font-size:6px;">
                <p>{{Address}}</p>
            </div>
        </div>
        <h6 class="text-center">Release Order</h6>
        <table class="table table-bordered table-sm" style="font-size:6px">
            <thead>
                <tr>
                    <th colspan="4">
                        <div class='row'>
                            <div class='col'>       
                                Media House Name: {{mediahouse}}<br>
                                GSTIN: {{pgstin}}<br>
                                Pullout Name: {{pullout}}
                            </div>
                            <div class='row'>
                                Address: {{maddress}}
                            </div>
                        </div>
                    </th>
                    <th colspan="4">
                        Release Order No: {{rno}}<br>
                        Date: {{date}}<br>
                        GSTIN: {{gstin}}
                    </th>
                </tr>
                
                <tr>
                    <th colspan="4">
                        <div class='row'>
                            <div class='col'>
                                Client:{{cname}}<br>
                                GSTIN:{{cgstin}}
                            </div>
                            <div class='col'>
                                Address: {{caddress}}
                            </div>
                        </div>
                       
                    </th>
                    <th colspan="4">
                         <div class="row">
                            <div class="col">
                                Scheme: {{scheme}}<br>
                                Hue: {{hue}}
                            </div>
                            <div class="col">
                                Ad Type: {{adtype}}<br>
                                Edition: {{edition}}
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan='2'>Description</td>
                    <td>Ins Date</td>
                    <td>Position</td>
                    <td>Size</td>
                    <td>Total space</td>
                    <td>Gross Amount</td>
                </tr>
                {{insertions}}
                <tr>
                    <td colspan="5"></td>
                    <td>Premium Amount</td>
                    <td>{{premam}}</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right">Publication Discount: {{pubD}} %</td>
                    <td>Publication Discount</td>
                    <td>{{publicationdisc}}</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right">Agency Discount: {{agenD1}} %</td>
                    <td>Discount Amount</td>
                    <td>{{damount1}}</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right">Agency Discount: {{agenD2}} %</td>
                    <td>Discount Amount</td>
                    <td>{{damount2}}</td>
                </tr>
                <tr>
                    <td colspan="2">Taxable Amount: {{taxamount}}</td>
                    <td>IGST %: {{igst}} </td>
                    <td>CGST %: {{cgst}}</td>
                    <td>SGST %: {{sgst}}</td>
                    <td>GST Amount</td>
                    <td>{{gstamount}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>Amt: {{igstamount}}</td>
                    <td>Amt: {{cgstamount}}</td>
                    <td>Amt: {{sgstamount}}</td>
                    <td>Net Amount</td>
                    <td>{{namount}}</td>
                </tr>
                <tr>
                    <td colspan="7" class="text-center">Amount(in words): {{namountwords}}</td>
                </tr>
                <tr>
                    <td colspan="2">Payment Details</td>
                    <td colspan="5">{{paymentDetails}}</td>
                </tr>
            </tbody>
        </table>
        <div class='row'>
            <div class='col-sm-9' style ='font-size: 6px'>
                <p style="color:crimson">Note/Remark:</p>
                <p>1.All disputed are subject to {{jurisdiction}} jurisdiction only.</p>
                <p>{{remark}}</p>
            </div>
            <div class='col-sm-3' style ='font-size: 6px'>
                <h6>Signature:</h6>
                <img src="{{sign}}" style="height: 40px; width:40px;">
            </div>
        </div>
        <hr>
        <span style="font-size: 6px;">Generated by {{username}} for {{firmName}}</span>
        <span style="font-size: 6px;">This is a computer generated receipt generated by AAMan App</span> 
    </div>
</body>
</html>
